@use "sass:color";
@use '../abstracts/all' as *;

.cost-input-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-sm;
  width: 100%;

  @include responsive(small) {
    grid-template-columns: 1fr auto;
  }
  
  .cost-preview {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    
    svg {
      flex-shrink: 0;
    }
  }
  
  // Cost buttons
  .cost-buttons {
    display: flex;
    gap: $spacing-sm;
    margin-top: $spacing-xs;
    
    .cost-button-clear {
      border-radius: $border-radius-sm;
      padding: $spacing-xs $spacing-md;
      font-weight: bold;
      cursor: pointer;
      transition: all $transition-medium;
      color: $color-text-dark;
    }

    .cost-button {
      border-radius: $border-radius-sm;
      aspect-ratio: 1;
      width: auto;
      height: 100%;
      cursor: pointer;
      font-weight: bold;
      color: $color-text-dark;
      transition: all $transition-medium;
    }
    
    .cost-button[data-cost="R"] {
      background-color: color.scale($color-red, $lightness: 25%);
      border: 1px solid $color-red;
      
      &:hover {
        background-color: $color-red;
      }
    }
    
    .cost-button[data-cost="G"] {
      background-color: color.scale($color-green, $lightness: 25%);
      border: 1px solid $color-green;
      
      &:hover {
        background-color: $color-green;
      }
    }
    
    .cost-button[data-cost="B"] {
      background-color: color.scale($color-blue, $lightness: 25%);
      border: 1px solid $color-blue;
      
      &:hover {
        background-color: $color-blue;
      }
    }
    
    .cost-button-clear {
      border: 1px solid $color-accent-yellow;
      color: $color-accent-yellow;

      &:hover {
        border: 1px solid $color-accent-pink;
        color: $color-accent-pink;
      }
    }
  }
}