@use '../abstracts/all' as *;

.image-uploader {
  &.is-invalid {
    .dropzone {
      border-color: $color-danger;
    }
  }
}

.dropzone {
  position: relative;
  border: 2px dashed $color-bg-dark-tertiary;
  border-radius: $border-radius-md;
  display: grid;
  place-items: center;
  height: 12rem;
  transition: all $transition-fast;
  overflow: hidden;
  
  &:hover {
    border-color: $color-accent-purple;
  }
  
  &.drag-over {
    border-color: $color-accent-yellow;
    background-color: rgba($color-accent-orange, 0.05);
  }
}

.dropzone-input {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.preview-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: none;
  pointer-events: none;
  transition: opacity $transition-medium;
  
  &.active {
    display: block;
  }
}

.uploader-placeholder {
  display: grid;
  gap: $spacing-sm;
  place-items: center;
  text-align: center;
  padding: $spacing-md;
  transition: opacity $transition-medium;
  
  svg {
    color: $color-accent-yellow;
    margin-bottom: $spacing-sm;
  }
  
  &.hidden {
    display: none;
    pointer-events: none;
  }
}

.uploader-formats {
  font-size: 0.75rem;
  color: $color-text-muted;
}

.remove-image {
  position: absolute;
  top: $spacing-xs;
  right: $spacing-xs;
  background-color: $color-bg-dark-primary;
  color: $color-red;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 20;
  transition: all $transition-medium;
  
  &:hover {
    background-color: $color-danger;
    color: $color-text-dark;
  }

  &.hidden {
    display: none;
  }
}