@use '../abstracts/all' as *;

.translate-field {
  width: 100%;
  
  &__tabs {
    display: flex;
    gap: $spacing-xs;
    border-bottom: 1px solid $color-bg-dark-tertiary;
    margin-bottom: -1px; // Para solapar el borde inferior con el contenido
  }
  
  &__tab {
    padding: $spacing-xs $spacing-sm;
    background-color: $color-bg-dark-secondary;
    border: 1px solid $color-bg-dark-tertiary;
    border-bottom: 0;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    color: $color-text-muted;
    font-size: 0.75rem;
    font-weight: 500;
    transition: all $transition-fast;
    
    &:hover {
      background-color: $color-bg-dark-tertiary;
      color: $color-text-light;
    }
    
    &--active {
      background-color: $color-bg-dark-tertiary;
      color: $color-accent-yellow;
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-bg-dark-tertiary;
      }
    }
  }
  
  &__content {
    border: 1px solid $color-bg-dark-tertiary;
    border-top: none;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }
  
  &__input-wrapper {
    padding: $spacing-xs;
    
    textarea, input, .wysiwyg-editor {
      border-radius: 0;
      border-color: transparent;
      
      &:focus {
        border-color: $color-accent-purple;
      }
    }
    
    &--active {
      background-color: $color-bg-dark-tertiary;
    }
  }
}