@use '../abstracts/all' as *;

.attribute-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  stroke: black;
  stroke-width: 2%;
  
  &--agility {
    color: $color-yellow;
  }
  
  &--mental {
    color: $color-green;
  }
  
  &--will {
    color: $color-green;
  }
  
  &--strength {
    color: $color-blue;
  }
  
  &--armor {
    color: $color-blue;
  }
  
  &--health {
    color: $color-red;
  }
}