@use '../abstracts/all' as *;

.description {
  margin-bottom: $spacing-md;
  
  h3 {
    margin: 0 0 $spacing-xs;
    font-size: 0.9rem;
    color: $color-text-muted;
  }
  
  &__content {
    font-size: 0.9rem;
    color: $color-text-light;
    
    p {
      margin: 0 0 $spacing-sm;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    gap: $spacing-sm;
    text-align: left;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: $spacing-lg;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: $spacing-md;
    .description {
      margin-bottom: 0;
    }
  }
}

