@use '../abstracts/all' as *;

.detail-section {
  margin-bottom: $spacing-lg;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__title {
    margin: 0 0 $spacing-md;
    font-size: 1.2rem;
    color: $color-text-light;
    border-bottom: 1px solid $color-bg-dark-tertiary;
    padding-bottom: $spacing-xs;
  }
  
  &__content {
    background-color: $color-bg-dark-tertiary;
    padding: $spacing-md;
    border-radius: $border-radius-md;
  }
  
  &--no-padding {
    .detail-section__content {
      padding: 0;
      background-color: transparent;
    }
  }
}