@use '../abstracts/all' as *;

.entities-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-sm;
  width: 100%;

  &--columns {
    @include responsive(tablet) {
      grid-template-columns: 1fr 1fr;
      gap: $spacing-md;
    }
    @include responsive(desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}