@use '../../abstracts/all' as *;

.sidebar-section {
  margin-bottom: $spacing-lg;

  .sidebar-section-title {
    display: block;
    padding: $spacing-sm $spacing-lg;
    color: $color-text-muted;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .sidebar-section-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1px;
  }
}