@use '../../abstracts/all' as *;

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-xl;
  min-height: 100vh;
  background-color: $color-bg-dark-primary;
  padding: $spacing-lg;
  text-align: center;
  width: 100%;

  @include responsive(small) {
    justify-content: flex-start;
  }
}

.application-logo {
  width: 100%;
  max-width: 600px;
}


.welcome-actions {
  display: grid;

  @include responsive(small) {
    width: 100%;
    margin-top: $spacing-xl * 2;
  }
  
  .welcome-button {
    display: inline-grid;
    place-items: center;
    padding: $spacing-sm $spacing-lg;
    background-color: transparent;
    color: $color-accent-orange;
    border: 1px solid $color-accent-orange;
    border-radius: $border-radius-sm;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all $transition-medium;
    
    &:hover {
      background-color: rgba($color-accent-orange, 0.1);
    }
  }
}