@use '../abstracts/all' as *;

.admin-body {
  background-color: $color-bg-dark-primary;
  color: $color-text-light;
  @include font-primary;
  height: 100vh;
  overflow: hidden;
}

.admin-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  position: relative;
}

.admin-main-container {
  display: grid;
  overflow: hidden;
  position: relative;
}

.admin-main {
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 60px); // Restamos la altura del header
  overflow: hidden;
  width: 100%; // Aseguramos que utiliza todo el ancho disponible
  transition: padding-left $transition-medium;
  
  @media (min-width: $breakpoint-tablet + 1px) {
    padding-left: 250px; // Ancho de la barra lateral
  }
  
  .sidebar-open & {
    @media (max-width: $breakpoint-tablet) {
      padding-left: 250px;
    }
  }
}

.admin-content {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-lg;
  width: 100%; // Aseguramos que utiliza todo el ancho disponible
  
  @include responsive(mobile) {
    padding: $spacing-md;
  }
}