@use '../../abstracts/all' as *;

.entity-badge {
  font-size: 0.7rem;
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-sm;
  font-weight: 500;
  white-space: nowrap;
  
  &.entity-badge-default {
    background-color: $color-bg-dark-tertiary;
    color: $color-text-light;
  }
  
  &.entity-badge-primary {
    background-color: rgba($color-accent-purple, 0.2);
    color: $color-accent-purple;
  }
  
  &.entity-badge-success {
    background-color: rgba($color-success, 0.2);
    color: $color-success;
  }
  
  &.entity-badge-warning {
    background-color: rgba($color-warning, 0.2);
    color: $color-warning;
  }
  
  &.entity-badge-danger {
    background-color: rgba($color-danger, 0.2);
    color: $color-danger;
  }
}

.icon-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 0.75rem;
  color: $color-text-light;
}