@use "sass:color";
@use '../../abstracts/all' as *;

.btn {
  display: inline-grid;
  place-items: center;
  padding: $spacing-sm $spacing-lg;
  border-radius: $border-radius-sm;
  font-weight: 500;
  transition: all $transition-fast;
  border: none;
  cursor: pointer;
  text-decoration: none;
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  &.btn-primary {
    border: 1px solid $color-accent-yellow;
    color: $color-accent-yellow;
    
    &:hover {
      border-color: $color-success;
      color: $color-success;
    }
  }
  
  &.btn-secondary {
    border: 1px solid $color-accent-orange;
    color: $color-accent-orange;
    
    &:hover {
      border-color: $color-danger;
      color: $color-danger;
    }
  }
}