@use '../../abstracts/all' as *;

.description-section {
  margin-bottom: $spacing-md;
  
  h4 {
    margin: 0 0 $spacing-xs;
    font-size: 0.9rem;
    color: $color-text-muted;
  }
  
  .description-content {
    font-size: 0.9rem;
    color: $color-text-light;
    line-height: 1.5;
    
    p {
      margin: 0 0 $spacing-sm;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}