@use '../../abstracts/all' as *;

.header-actions-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: $spacing-lg;
  gap: $spacing-lg;
  
  @include responsive(mobile) {
    grid-template-columns: 1fr;
    gap: $spacing-md;
  }
  
  .left-actions {
    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
    
    p {
      margin: $spacing-xs 0 0;
      color: $color-text-muted;
    }
  }
  
  .right-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: $spacing-sm;
    margin-bottom: auto;
    
    @include responsive(mobile) {
      width: 100%;
      
      .btn {
        width: 100%;
      }
    }
  }
}