@use '../../abstracts/all' as *;

.no-entities {
  width: 100%;
  text-align: center;
  padding: $spacing-xl $spacing-md;
  background-color: $color-bg-dark-secondary;
  border-radius: $border-radius-md;
  display: grid;
  grid-template-rows: auto auto;
  gap: $spacing-md;
  place-items: center;
  
  p {
    font-size: 1.125rem;
    color: $color-text-muted;
    margin: 0;
  }

  .btn {
    justify-self: center;
  }
}