@use '../../abstracts/all' as *;

.stat-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $spacing-xs;
  align-items: center;
  font-size: 0.8rem;
  color: $color-text-muted;
  
  svg {
    stroke: $color-accent-purple;
  }
}