@use '../abstracts/all' as *;

.card-detail-block {
  .card-detail-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xl;
    
    @include responsive(tablet) {
      grid-template-columns: 1fr 2fr;
      gap: $spacing-xxl;
    }
  }
  
  .card-detail__preview {
    display: flex;
    justify-content: center;
    align-items: start;
    
    .preview-image,
    .entity-preview {
      max-width: 100%;
      height: auto;
      
      @include responsive(tablet) {
        max-width: 25rem;
      }
    }
    
    .card-preview {
      width: 100%;
      max-width: 20rem;
      
      @include responsive(tablet) {
        max-width: 25rem;
      }
    }
  }
  
  .card-detail__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }
}