@use '../abstracts/all' as *;

.deck-stats-wrapper {
  display: grid;
  gap: $spacing-lg;
  @include responsive(mobile) {
    grid-template-columns: 1fr 1fr;
  }

  @include responsive(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}