@use '../abstracts/all' as *;

.pdf-collection {
  &__section {
    margin-bottom: $spacing-lg;
  }

  &__section-title {
    font-size: 1.25rem;
    margin-bottom: $spacing-xs;
  }
}

.pdf-collection__section--temporary {
  .block-header {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: $spacing-lg;

    @include responsive(mobile) {
      grid-template-columns: 1fr auto;
    }
  }

  .temporary-collection__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;

    .btn {
      width: 100%;
      height: 100%;

      @include responsive(mobile) {
        height: auto;
      }
    }
  }
}

.entity-collection-card {
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-lg;
    padding: $spacing-sm;

    .form-field {
      margin: 0;
      width: max-content;
    }
  }

  &__preview {
    margin-bottom: $spacing-sm;
  }
}

.pdf-collection__section {

  .entity-list__items {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
  .entity-list__empty {
    background-color: var( --color-theme-border-bg);
  }
}