@use '../abstracts/all' as *;

.factions-container {
  max-width: 1200px;
  margin: 0 auto;
  
  
  .factions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-md;
    
    @include responsive(mobile) {
      grid-template-columns: 1fr;
    }
  }
  
}