@use '../abstracts/all' as *;

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-xl;
  min-height: 100vh;
  background-color: $color-bg-dark-primary;
  padding: $spacing-lg;
  text-align: center;
  width: 100%;

  @include responsive(small) {
    justify-content: flex-start;
  }
}