@use '../abstracts/all' as *;

.page-header {
  margin-bottom: $spacing-lg;
  container-type: inline-size;
  container-name: page-header;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
    justify-content: space-between;
    width: 100%;

    @include container-responsive(page-header, tablet) {
      grid-template-columns: 1fr auto;
    }
  }
  
  &__title {
    font-size: 1.75rem;
    margin: 0;
    width: 100%;
    
    @include responsive(tablet) {
      font-size: 2rem;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & > * {
      width: 100%;

      @include responsive(small) {
        width: fit-content;
      }
    }
  }
}


    