@use '../abstracts/all' as *;

.page-header {
  margin-bottom: $spacing-lg;
  container-type: inline-size;
  container-name: page-header;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: $spacing-md;
    align-items: top;
    justify-content: space-between;
    width: 100%;

    @include container-responsive(page-header, tablet) {
      grid-template-columns: 1fr auto auto;
    }
  }
  
  &__title {
    font-size: 1.75rem;
    margin: 0;
    width: 100%;
    
    @include responsive(tablet) {
      font-size: 2rem;
    }
  }
  
  &__actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: $spacing-sm;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 2;
    order: -1;

    @include container-responsive(page-header, tablet) {
      grid-column: auto;
      order: 0;
    }

    & > * {
      width: 100%;

      @include container-responsive(page-header, small) {
        width: 49%;
        width: fit-content
      }
    }
  }
}


    