@use '../abstracts/all' as *;

.admin-sidebar {
  background-color: var(--color-card-bg);
  border-right: 0.0625rem solid var(--color-card-border);
  box-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform $transition-medium ease, background-color 0.3s ease;
  width: 100%;
  box-shadow: 0 .125rem 0.25rem 0.0125rem var(--random-accent-color);

  @include responsive(small) {
    width: $sidebar-width;
  }
  
  &__inner {
    padding: $spacing-md;
    min-height: 100%;
  }
}