@use '../abstracts/all' as *;

.admin-layout {
  display: grid;
  grid-template-rows: $header-height-base 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
  @include responsive(tablet) {
    grid-template-columns: $sidebar-width-base 1fr;
  }

  @include responsive(wide) {
    grid-template-columns: $sidebar-width-big 1fr;
  }
}

.admin-content-wrapper {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  
  @include responsive(tablet) {
    grid-template-columns: $sidebar-width-base 1fr;
  }

  @include responsive(wide) {
    grid-template-columns: $sidebar-width-big 1fr;
  }
}

.admin-content {
  grid-column: 1;
  overflow-y: auto;
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
  padding: $spacing-xl $spacing-md;
  height: calc(100vh - #{$header-height-base});
  
  @include responsive(tablet) {
    grid-column: 2;
    padding: $spacing-xxl;
  }
}
