@use '../../abstracts/all' as *;

.entity-list {
  width: 100%;
  
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-md;
    
    @include responsive(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__title {
    margin: 0 0 $spacing-md;
    
    @include responsive(tablet) {
      margin: 0;
    }
  }
  
  &__actions {
    display: flex;
    gap: $spacing-sm;
    margin-bottom: $spacing-md;
    
    @include responsive(tablet) {
      margin-bottom: 0;
    }
  }
  
  &__filters {
    margin-bottom: $spacing-lg;
  }
  
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: $spacing-md;

    &--reorderable {
      display: grid;
      grid-template-columns: 1fr; // Forzar una columna para reordenamiento
      gap: $spacing-md;
    }
  }
  
  &__reorder-buttons {
    display: flex;
    gap: $spacing-sm;
    margin-right: $spacing-md;
  }
  
  &__pagination {
    margin-top: $spacing-lg;
  }
  
  &__empty {
    text-align: center;
    padding: $spacing-lg;
    color: var(--color-text-secondary);
    background-color: var(--color-card-bg);
    border-radius: $border-radius-md;
  }
}

// Estilos para el botón de reordenamiento
#save-reorder-button {
  animation: pulse 1.5s infinite;
}

// Definición de la animación pulse
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--random-accent-color-rgb), 0.5);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(var(--random-accent-color-rgb), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--random-accent-color-rgb), 0);
  }
}