@use '../../abstracts/all' as *;

.entity-card {
  background-color: $color-bg-dark-secondary;
  border-radius: $border-radius-md;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__header {
    display: grid;
    align-items: center;
    padding: $spacing-sm $spacing-md;
    border-bottom: 1px solid $color-bg-dark-tertiary,;

    @include responsive(small) {
      grid-template-columns: auto 1fr;
      gap: $spacing-sm;
    }
  }
  
  &__title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $spacing-sm;
    align-items: center;
    
    h2 {
      margin: 0;
      font-size: 1rem;
      color: $color-text-light;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  &__actions {
    display: flex;
    gap: $spacing-xs;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: $spacing-xs;
    
    @include responsive(small) {
      order: 2;
      margin-bottom: 0;
    }
  }

  
  &__content {
    padding: $spacing-sm $spacing-md;
  }
  
  &__details {
    display: none;
    padding-top: $spacing-sm;
    margin-top: $spacing-sm;
    border-top: 1px solid rgba($color-bg-dark-tertiary, 0.5);
  }
  
  .card-summary {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
  }
}



