@use '../../abstracts/all' as *;

.choices {
  position: relative;
  
  &__inner {
    background-color: var(--color-background) !important;
    border-color: var(--color-card-border) !important;
    border-radius: $border-radius-sm !important;
    .choices__item {
      background-color: var(--random-accent-color-bg) !important;
      border-color: var(--random-accent-color) !important;
      color: var(--random-accent-color) !important;
    }
  }
  
  &__input {
    background-color: var(--color-background) !important;
    color: var(--text-color);
  }
  
  &__list--dropdown {
    background-color: var(--color-background) !important;
    border-color: var(--color-card-border) !important;
    z-index: $z-index-dropdown !important; // Usar z-index para asegurar que esté por encima
    overflow: visible !important;

    border-bottom-left-radius: $border-radius-sm !important;
    border-bottom-right-radius: $border-radius-sm !important;
  }
  
  &.is-open {
    .choices__inner {
      border-color: var(--random-accent-color) !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    
    .choices__list--dropdown {
      border-color: var(--random-accent-color) !important;
    }
  }
  
  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--random-accent-color-bg) !important;
  }
}

// Corregir la visualización de los desplegables
.choices__list--dropdown {
  position: absolute !important;
  width: 100% !important;
}

// Eliminar cualquier overflow restrictivo en los contenedores
.filters-card,
.collapsible-section,
.collapsible-section__content {
  overflow: visible !important;
}