@use '../../abstracts/all' as *;

.filters-card {
  margin-bottom: $spacing-xl;
  border-radius: $border-radius-md;
  overflow: visible; // Cambiado de 'show' a 'visible'

  .filter-select,
  .form-field {
    &:focus-within {
      label {
        color: var(--random-accent-color);
      }
    }
  }
}

.filters-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;
  position: relative;

  label {
    display: inline-block;
    position: relative;
    font-size: .75rem;
    font-weight: 400;
    padding: 0 $spacing-sm;
    margin-left: $spacing-xs;
    margin-bottom: 0;
    background-color: var(--color-background);
    transform: translateY(50%);
    z-index: 1;
  }

  ::placeholder {
    font-size: .75rem;
  }
}

.filters-search-row {
  margin-top: -1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  .form-field {
    margin-bottom: 0;
  }
}

.filters-search {
  width: 100%;
}

.filters-search-actions {
  margin-left: $spacing-md;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}

.filters-actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: $spacing-xs;

  @include responsive(small) {
    flex-direction: row;;
  }

  .btn {
    width: 100%;

    @include responsive(small) {
      width: fit-content;
    }
  }
}