@use '../../abstracts/all' as *;

.ability-item {
  padding: $spacing-md;
  background-color: var(--color-theme-border-bg);
  border-radius: $border-radius-sm;
  
  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }
  
  &--passive {
    border-left: 3px solid var(--random-accent-color-secondary);
  }
  
  &--active {
    border-left: 3px solid var(--random-accent-color-tertiary);
  }
  
  .ability-header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: $spacing-md;
    margin-bottom: $spacing-sm;
    align-items: center;

    .ability-name {
      margin-bottom: 0;
    }
  }

  .ability-name {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: $spacing-sm;
    color: var(--color-text-primary);
  }
  
  .ability-types {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    font-style: italic;
    grid-column: span 2;
  }
  
  .ability-description {
    color: var(--color-text-primary);
    line-height: 1.6;
    
    p {
      margin: 0;
      
      &:not(:last-child) {
        margin-bottom: $spacing-sm;
      }
    }

    img {
      width: 1.2rem;
      height: 1.2rem;
      transform: translateY(15%);
    }
  }
  
  .ability-cost {
    .cost-display {
      gap: $spacing-xs;
    }
  }
}

.abilities-section {
  &:not(:last-child) {
    margin-bottom: $spacing-lg;
  }
  
  &__subtitle {
    font-size: 1.25rem;
    margin-bottom: $spacing-md;
    color: var(--color-text-primary);
    font-family: 'imfellenglish', serif;
  }
}