@use '../../abstracts/all' as *;

.info-blocks-grid {
  display: grid;
  gap: $spacing-lg;
  @include responsive(mobile) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}

.info-block {
  background-color: var(--color-bg-transparent-semi);
  border: 1px solid var(--color-card-border);
  border-radius: $border-radius-md;
  padding: $spacing-lg;
  container-type: inline-size;
  
  &__title {
    font-size: 1.5rem;
    margin-bottom: $spacing-md;
    color: var(--random-accent-color);
    font-family: 'imfellenglish', serif;
  }

  &--abilities {
    grid-column: 1 / -1;
  }

  blockquote {
    margin: 0;
  }

  img {
    width: 100%;
  }
}