@use '../../abstracts/all' as *;

.info-link {
  color: var(--random-accent-color);
  text-decoration: none;
  transition: color $transition-fast;
  
  &:hover {
    color: var(--random-accent-color-hover);
    text-decoration: underline;
  }
  
  .icon {
    display: inline-block;
    flex-shrink: 0;
  }
}