@use '../abstracts/all' as *;

.public-footer {
  background-color: var(--color-card-bg);
  color: var(--color-text-primary);
  padding: $spacing-md;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-height: $footer-height-base;
  border-top: 1px solid var(--random-accent-color);
  
  @include responsive(tablet) {
    padding: $spacing-lg $spacing-md;
  }

  .footer-container {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-license {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 0.8rem;
    
    @include responsive(tablet) {
      font-size: 0.9rem;
    }
  
    a {
      text-decoration: none;
    }
    
    .license-cc-link {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;
      
      span {
        margin-right: 0.25rem;
      }
      
      img {
        height: 0.875rem;
        width: 0.875rem;
        margin-left: 0.25rem;
        vertical-align: middle;
        
        @include responsive(tablet) {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}