@use '../abstracts/all' as *;

.content-container {
  width: 100%;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-top: $header-height-base;
  
  @include responsive(tablet) {
    padding-top: $header-height-big;
  }
}