@use '../abstracts/all' as *;

.content-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: $spacing-md $spacing-md $spacing-xl;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  padding-top: calc(4rem + #{$spacing-md});
  padding-top: calc(#{$header-height} + #{$spacing-xxl});
}