@use '../../abstracts/all' as *;

// Custom styles specific to card previews
.card-preview {
  &__cost {
    position: absolute;
    right: .2rem;
    top: 12%;
    
    .cost-display {
      display: flex;
      flex-direction: column;
    }
    
    .icon-dice {
      width: 3rem;
      height: 3rem;
    }
  }

  &__info {
    font-size: .7rem;
    font-style: italic;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    transform: translateY(calc(1px - 100%));
    background-color: rgba(var(--faction-color-rgb), 0.8);
    height: 17%;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
    display: flex;
    justify-content: space-between;
    
    span {
      margin-top: auto;
      padding-right: .5rem;
      padding-left: .5rem;
      font-weight: 500;
      color: var(--faction-text);
    }
  }

  &__unique {
    font-size: .75rem;
  }
  
  &__types {
    margin-left: auto;
  }

  
  &__effects {
    font-size: 65%;
    line-height: 1.2;
    width: 100%;
    
    &-effects,
    &-restrictions {
      padding: 1%;
    }
  }
}

// Override entity-preview__abilities for cards
.card-preview .entity-preview__abilities {
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  hr {
    margin: 0 auto;
  }
}