@use '../../abstracts/all' as *;

$color-white-transparent: #ffffffbd;

.entity-preview {
  width: 88mm;
  height: 126mm;
  overflow: hidden;
  position: relative;
  border-radius: $border-radius-md;
  border: 1px solid var(--faction-color);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  
  * {
    color: #000000;
    z-index: $z-index-preview;
    margin: 0;
  }

  &__image-container {
    position: absolute;
    height: 93%;
    width: 100%;
    z-index: $z-index-base;
    top: 7%;
    
    img {
      height: 100%;
      width: auto;
      object-position: center;
      object-fit: cover;
    }
  }

  &__header {
    position: relative;
    padding: .25rem .5rem 0;
    background-color: var(--faction-color);
    height: 7%;
    
    * {
      color: var(--faction-text);
    }
    
    &::after {
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 40%;
      background-color: var(--faction-color);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
      z-index: -1;
    }
  }

  &__title-container {
    position: relative;
    .entity-preview__name {
      font-size: 1rem;
      margin: 0;
      line-height: 1;
    }
    
    .entity-preview__class {
      font-size: .7rem;
      font-style: italic;
      margin: 0;
      font-family: 'roboto';
      font-weight: 500;
      line-height: 1;
    }
  }
  
  &__faction-logo {
    position: absolute;
    top: .125rem;
    right: .125rem;
    width: 3rem;
    height: auto;
  }

  &__abilities {
    margin-top: auto;
    position: relative;
    background-color: $color-white-transparent;
    
    hr {
      border: none;
      border-top: .0625rem solid var(--faction-color);
      width: 70%;
      margin: auto;
    }

    img {
      height: 1.2em;
      width: auto;
      aspect-ratio: 1;
      transform: translateY(25%);
    }

    p {
      margin-bottom: .25rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__active {
    font-size: .65rem;
    line-height: 1.2;
    padding: 1%;
    
    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    
    &-info {
      margin: auto 0;
      display: flex;
      gap: .5rem;
      align-items: baseline;
    }
    
    &-name {
      font-size: .7rem;
      font-weight: bold;
    }
    
    &-types {
      font-size: .6rem;
      font-style: italic;
    }
    
    &-cost {
      .icon-dice {
        height: 1.1rem;
        width: 1.1rem;
      }
    }
  }

  &__footer {
    background-color: rgba(var(--faction-color-rgb), 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65rem;
    font-family: 'almendra';
    font-style: italic;
    font-weight: 600;
    
    span {
      line-height: 1;
      margin: .25rem 0;
      color: var(--faction-text);
    }
    .logo-icon {
      height: 80%;
      
      path {
        fill: var(--faction-text);
      }
    }
  }
}