@use '../../abstracts/all' as *;

.faction-preview {
  container-type: inline-size;
  position: relative;
  width: 100%;
  aspect-ratio: 5/7;
  border: 2px solid var(--color-card-border);
  border-radius: $border-radius-md;
  transition: all $transition-medium;
  overflow: hidden;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-color: var(--faction-color);
  }
  
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: .5rem solid var(--faction-color);
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: $border-radius-sm;
      box-shadow: 0 0 0px 4px var(--faction-color);
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__name {
    padding: 1rem;
    text-align: center;
    font-size: clamp(1rem, 10cqw, 2rem);
    font-weight: 700;
    color: var(--faction-text);
    margin: 0;
    line-height: 1.2;
    z-index: 1;
    
    @include text-stroke (5px, var(--faction-color));
  }
}