@use '../../abstracts/all' as *;

.preview-hero {
  &-passive {
    font-size: .8em;
    &__title {
      font-weight: 600;
    }
    p {
      display: inline;
    }
    img {
      display: inline;
      height: .9em;
      width: auto;
    }
    &::after {
      content: "";
      display: block;
      margin: 2px auto;
      border-top: 1px solid $color-accent-purple;
      width: 60%;
    }
  }

  &-ability {
    &__header {
      display: grid;
      grid-template-columns: 1fr auto auto;
      align-items: center;
      gap: 2px;
    }
    &__name {
      font-size: 1em;
    }
    &__meta {
      font-size: .8em;
    }
    .cost-display {
      display: flex;
    }
    &::after {
      content: "";
      display: block;
      margin: 2px auto;
      border-top: 1px solid $color-accent-purple;
      width: 60%;
    }
    &:last-of-type::after {
      display: none;
    }
  }

  &-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-attribute {
    position: relative;

    svg {
      width: 2em;
      height: 2em;
      position: relative;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: 700;
      color: black;
      text-shadow: 
      -.5px -.5px 0 #fff,
      .5px -.5px 0 #fff,
      -.5px .5px 0 #fff,
      .5px .5px 0 #fff;
    }

    &--health {
      svg {
        width: 3em;
        height: 3em;
      }
    }
  }
}



