@use '../../abstracts/all' as *;

// Custom styles specific to hero previews
.hero-preview {
  &__attributes {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
    gap: 2%;
    z-index: 7;
    margin-left: auto;
  }
  
  &__attribute {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(8%);
    width: 8%;
    height: auto;
    
    &-value {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-weight: 900;
      text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff;
    }
    
    &:nth-of-type(6) {
      width: 15%;
      height: auto;
      aspect-ratio: 1;
      justify-content: center;
      border: none;
      background-color: transparent;
      
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__passive {
    font-size: .6rem;
    line-height: 1.2;
    padding: 1%;
    
    &-name {
      font-weight: bold;
    }
    
    p {
      display: inline;
    }
    
    &:nth-of-type(1) {
      padding-bottom: .125rem;
    }

    &:nth-of-type(2) {
      padding-top: 0;
    }
  }
}

// Override entity-preview__abilities for heroes
.hero-preview .entity-preview__abilities {
  margin-top: 0;
  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    height: 1rem;
    transform: translateY(calc(1px - 100%));
    background-color: rgba(var(--faction-color-rgb), 0.8);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
  }
}