@use '../../abstracts/all' as *;

.block--header {
  // Alineación de texto simple para headers
  .block__content {
    width: 100%;
  }
  
  // Títulos más grandes para headers
  .block__title {
    font-size: 2rem;
    
    @include responsive(tablet) {
      font-size: 2.375rem;
    }
    
    @include responsive(desktop) {
      font-size: 2.75rem;
    }
  }
  
  .block__subtitle {
    font-size: 1.4rem;
    
    @include responsive(tablet) {
      font-size: 1.55rem;
    }
    
    @include responsive(desktop) {
      font-size: 1.7rem;
    }
  }
  
  // Alineaciones
  &.text-center {
    .block__content {
      text-align: center;
    }
  }
  
  &.text-right {
    .block__content {
      text-align: right;
    }
  }
}