@use '../../abstracts/all' as *;

.block--cta {
  .cta-block {
    display: grid;
    place-items: center;
  }
  
  .cta-block__card {
    background-color: var(--color-bg-transparent-semi);
    border: 1px solid var(--color-card-border);
    border-radius: $border-radius-lg;
    box-shadow: 0 0 10px 1px var(--random-accent-color);
    overflow: hidden;
    width: 100%;

    &--lg {
      max-width: calc($max-width * 0.8);
    }

    &--md {
      max-width: calc($max-width * 0.7);
    }

    &--sm {
      max-width: calc($max-width * 0.6);
    }
  }
  
  // Padding del contenido dentro de la tarjeta
  .block__content-wrapper {
    gap: 0;
  }
  .block__image {
    aspect-ratio: 2/1;
  }
  .block__content {
    padding: $spacing-lg $spacing-xl;
    order: 2;


    text-align: center;

    @include responsive(tablet) {
      padding: $spacing-xl $spacing-xxl;
      order: 0;

      text-align: inherit;
    }



    .block__text {
      text-align: justify;

      // @include responsive(tablet) {
      //   text-align: inherit;
      // }
    }
  }
  
  .cta-block__action {
    margin-top: $spacing-xl;
    text-align: center;

    @include responsive(tablet) {
      text-align: inherit;
    }
  }

  .cta-block__card--no-image {
    .cta-block__action {
      text-align: center;
    }
  }
}