@use '../../abstracts/all' as *;

.block--cta {
  .cta-block {
    display: grid;
    place-items: center;
  }
  
  .cta-block__card {
    background-color: var(--color-bg-transparent-semi);
    border: 1px solid var(--color-card-border);
    border-radius: $border-radius-lg;
    box-shadow: 0 0 10px 1px var(--random-accent-color);
    overflow: hidden;
    width: 100%;

    &--lg {
      max-width: calc($max-width * 0.8);
    }

    &--md {
      max-width: calc($max-width * 0.7);
    }

    &--sm {
      max-width: calc($max-width * 0.6);
    }
  }
  
  // Padding del contenido dentro de la tarjeta
  .block__content-wrapper {
    gap: 0;
  }
  .block__image {
    aspect-ratio: 2/1;
  }
  .block__content {
    padding: $spacing-lg $spacing-xl;
    order: 2;


    text-align: center;

    @include responsive(tablet) {
      padding: $spacing-xl $spacing-xxl;
      order: 0;

      text-align: inherit;
    }



    .block__text {
      text-align: justify;

      // @include responsive(tablet) {
      //   text-align: inherit;
      // }
    }
  }
  
  .cta-block__action {
    margin-top: $spacing-xl;
    text-align: center;

    @include responsive(tablet) {
      text-align: inherit;
    }
  }

  .cta-block__card--no-image {
    .cta-block__action {
      text-align: center;
    }
  }
}

.block.block--cta {
  background-color: transparent;
}

.block.block--cta {
  // Solid background colors
  &[data-background="red"] { .cta-block__card { background-color: var(--color-block-bg-red); }}
  &[data-background="orange"] { .cta-block__card { background-color: var(--color-block-bg-orange); }}
  &[data-background="lime"] { .cta-block__card { background-color: var(--color-block-bg-lime); }}
  &[data-background="green"] { .cta-block__card { background-color: var(--color-block-bg-green); }}
  &[data-background="teal"] { .cta-block__card { background-color: var(--color-block-bg-teal); }}
  &[data-background="cyan"] { .cta-block__card { background-color: var(--color-block-bg-cyan); }}
  &[data-background="blue"] { .cta-block__card { background-color: var(--color-block-bg-blue); }}
  &[data-background="purple"] { .cta-block__card { background-color: var(--color-block-bg-purple); }}
  &[data-background="magenta"] { .cta-block__card { background-color: var(--color-block-bg-magenta); }}
  
  // Accent colors
  &[data-background="accent-primary"] { .cta-block__card { background-color: var(--random-accent-color-bg-light); }}
  &[data-background="accent-secondary"] { .cta-block__card { background-color: var(--random-accent-color-secondary-bg-light); }}
  &[data-background="accent-tertiary"] { .cta-block__card { background-color: var(--random-accent-color-tertiary-bg-light); }}
  
  // Theme colors
  &[data-background="theme-card"] { .cta-block__card { background-color: var(--color-theme-card-bg); }}
  &[data-background="theme-border"] { .cta-block__card { background-color: var(--color-theme-border-bg); }}
  &[data-background="theme-header"] { .cta-block__card { background-color: var(--color-theme-header-bg); }}
}