@use '../../abstracts/all' as *;

.block--header {
  position: relative;
  padding: $spacing-xxl 0;
  background-size: cover;
  background-position: center;
  
  .block__inner {
    position: relative;
    z-index: 2;
  }
  
  .header-block__content {
    margin: 0 auto;
  }
}