@use '../../abstracts/all' as *;

.form-input {
  @include form-input-base;
}

// Variantes de tamaño
.form-input-sm {
  padding: $spacing-xs $spacing-sm;
  font-size: 0.875rem;
}

.form-input-lg {
  padding: $spacing-md $spacing-lg;
  font-size: 1.125rem;
}