@use '../../abstracts/all' as *;

.form-input {
  @include form-input-base;
}


.form-group-checkbox {
  
  .checkbox-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $spacing-sm;
    align-items: center;
  }
  
  .checkbox-label {
    margin-bottom: 0;
  }
  
  .form-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: .125rem solid $color-bg-dark-tertiary;
    border-radius: $border-radius-sm;
    background-color: $color-bg-dark-primary;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: background-color $transition-fast, border-color $transition-fast;
    
    &:checked {
      background-color: $color-accent-yellow;
      border-color: $color-accent-yellow;
      
      &::after {
        content: '\2713';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        color: $color-text-dark;
        font-weight: 700;
      }
    }

    &:focus { 
      outline: none;
      box-shadow: 0 0 0 2px $color-accent-purple;
    }
  }
}


