@use "sass:color";
@use '../../abstracts/all' as *;

.admin-sidebar {
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: $z-index-dropdown;
  width: 100%;
  background-color: $color-bg-dark-secondary;
  border-right: 1px solid $color-bg-dark-tertiary;
  height: calc(100vh - $header-height);
  display: grid;
  grid-template-rows: 1fr auto;
  transition: transform $transition-medium ease, box-shadow $transition-medium ease;

  @include responsive(small) {
    width: $sidebar-width;
  }
  
  @media (max-width: $breakpoint-tablet) {
    transform: translateX(-100%);
    box-shadow: none;
    
    .sidebar-open & {
      transform: translateX(0);
      box-shadow: 0px 0 10px $color-accent-yellow;
    }
  }
}

.sidebar-nav {
  overflow-y: auto;
  padding: $spacing-md $spacing-lg;
}