@use '../../../abstracts/all' as *;

.attack-card {S  
  .attack-summary {
    .attack-meta {
      display: grid;
      grid-template-columns: auto auto;
      gap: $spacing-sm;
      margin-bottom: $spacing-sm;
      
      .attack-type {
        font-size: 0.7rem;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-sm;
        font-weight: 500;
      }
      
      .attack-subtype {
        font-size: 0.7rem;
        color: $color-text-muted;
      }
      
      .attack-range {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        color: $color-text-muted;
        
        .range-icon {
          width: 14px;
          height: 14px;
          margin-right: $spacing-xs;
        }
      }
    }
    
    .attack-stats {
      display: grid;
      grid-template-columns: auto;
      gap: $spacing-sm;
    }
  }
  
  .attack-description {
    h4 {
      margin: 0 0 $spacing-xs;
      font-size: 0.9rem;
      color: $color-text-muted;
    }
    
    .description-content {
      font-size: 0.85rem;
      color: $color-text-light;
      
      p {
        margin: 0 0 $spacing-sm;
        line-height: 1.5;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}