@use '../../../abstracts/all' as *;

.attack-range-card {
  .range-summary {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: $spacing-md;
    
    .range-stats {
      display: grid;
      grid-template-columns: auto;
      gap: $spacing-sm;
    }
    
    .range-icon-preview {
      width: 32px;
      height: 32px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}