@use '../../../abstracts/all' as *;

.faction-card {
  .faction-icon {
    width: 24px;
    height: 24px;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .faction-summary {
    .faction-stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      gap: $spacing-md;
    }
  }
}