@use '../../../abstracts/all' as *;

.hero-class-card {  
  .hero-class-summary {
    .class-stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      gap: $spacing-md;
    }
  }
  
  .class-modifiers {
    h4 {
      margin: 0 0 $spacing-xs;
      font-size: 0.9rem;
      color: $color-text-muted;
    }
  }
}