@use '../abstracts/all' as *;

.pagination-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;
  margin: $spacing-xl 0;
  
  @include responsive(mobile) {
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-xs;
}

.pagination-item {
  display: grid;
  place-items: center;
  
  &--disabled {
    opacity: 0.5;
  }
}

.pagination-link {
  display: grid;
  place-items: center;
  min-width: 1.75rem;
  height: 1.75rem;
  transition: background-color $transition-medium, color $transition-medium;
  color: $color-text-light;
  border-radius: $border-radius-sm;
  
  &:hover {
    background-color: $color-bg-dark-tertiary;
    color: $color-accent-yellow;
  }
  
  &--active {
    background-color: $color-accent-yellow;
    color: $color-text-dark;
    font-weight: bold;
  }
  
  &--disabled {
    pointer-events: none;
  }
}

.pagination-info {
  color: $color-text-muted;
  font-size: 0.75rem;
  text-align: center;
  order: 1;
  
  @include responsive(mobile) {
    text-align: left;
    order: 0;
  }
}