@use '../abstracts/all' as *;

.sidebar-section {
  margin-bottom: $spacing-md;
  
  &:nth-of-type(n+2) {
    padding-top: $spacing-md;
    position: relative;
    
    &:before {
      position: absolute;
      content: "";
      display: block;
      border-top: 1px solid $color-bg-dark-tertiary;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  .sidebar-section-title {
    display: block;
    padding: $spacing-sm $spacing-lg;
    color: $color-text-muted;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}