@use '../abstracts/all' as *;

.action-button-form {
  display: inline-block;
}

.action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $border-radius-sm;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color $transition-fast, color $transition-fast;
  width: 2rem;
  height: 2rem;
  
  // Asegurémonos de que el color no se hereda
  &, & * {
    background-color: transparent;
  }
  
  // Sizes
  &--xs {
    width: 1rem;
    height: 1cm;
  }
  
  &--sm {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  &--md {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  &--lg {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  &--xl {
    width: 3.25rem;
    height: 3.25rem;
  }
  
  &--view {
    color: $color-blue;
    
    & > .icon,
    & > .action-button__icon > .icon {
      color: $color-blue;
    }
    
    & svg,
    & svg * {
      stroke: $color-blue;
      fill: none;
    }
    
    &:hover {
      background-color: $color-blue-transparent-light;
    }
  }
  
  &--edit,
  &--restore,
  &--publish,
  &--download
   {
    color: $color-green;
    
    & > .icon,
    & > .action-button__icon > .icon {
      color: $color-green;
    }
    
    & svg,
    & svg * {
      stroke: $color-green;
      fill: none;
    }
    
    &:hover {
      background-color: $color-green-transparent-light;
    }
  }
  
  &--delete,
  &--unpublish {
    color: $color-red;
    
    & > .icon,
    & > .action-button__icon > .icon {
      color: $color-red;
    }
    
    & svg,
    & svg * {
      stroke: $color-red;
      fill: none;
    }
    
    &:hover {
      background-color: $color-red-transparent-light;
    }
  }
  
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}