@use '../abstracts/all' as *;

.cost-display {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xs;
  
  .cost-dice {
    width: 20px;
    height: 20px;
  }
  
  .cost-total {
    margin-left: $spacing-xs;
    background-color: $color-bg-dark-tertiary;
    color: $color-text-light;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    font-size: 0.75rem;
    font-weight: 600;
  }
}