@use '../abstracts/all' as *;

.color-input-group {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.form-color-input {
  width: 50px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: $border-radius-sm;
  background-color: transparent;
  cursor: pointer;
  
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  &::-webkit-color-swatch {
    border: 1px solid $color-bg-dark-tertiary;
    border-radius: $border-radius-sm;
  }
  
  &::-moz-color-swatch {
    border: 1px solid $color-bg-dark-tertiary;
    border-radius: $border-radius-sm;
  }
}

.color-text-input {
  max-width: 120px;
  text-transform: uppercase;
}