@use '../abstracts/all' as *;

.admin-header {
  background-color: $color-bg-dark-secondary;
  border-bottom: 1px solid $color-bg-dark-tertiary;
  height: $header-height;
  display: grid;
  grid-template-columns: minmax(0, calc($sidebar-width - $spacing-md)) minmax(0, 1fr) auto;
  align-items: center;
  padding: 0 $spacing-md;
  width: 100%;
  position: relative;
  z-index: $z-index-dropdown + 1;
  
  @include responsive(tablet) {
    padding: 0 $spacing-lg;
  }
}

.header-left {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: $spacing-md;
  align-items: center;
}

.sidebar-toggle {
  position: relative;
  z-index: $z-index-overlay;
  width: 2rem;
  height: 2rem;
  border-radius: $border-radius-sm;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  cursor: pointer;
  padding: 0;

  @include responsive(tablet) {
    display: none;
  }
  
  span {
    display: block;
    width: 1.25rem;
    height: .125rem;
    background-color: $color-accent-yellow;
    transition: transform $transition-medium, opacity $transition-medium;
    transform-origin: center;
  }
}

.sidebar-open .sidebar-toggle {
  span:nth-child(1) {
    transform: translateY(.375rem) rotate(45deg);
  }
  
  span:nth-child(2) {
    opacity: 0;
  }
  
  span:nth-child(3) {
    transform: translateY(-.375rem) rotate(-45deg);
  }
}

.header-logo {
  height: $header-height;
  padding: $spacing-xs;
  width: 100%;

  @include responsive(tablet) {
    grid-column: span 2;
    margin-left: calc(2rem + $spacing-md - ($spacing-lg - $spacing-md));
  }
  
  .logo-container {
    display: block;
    height: 100%;
    width: fit-content;
    max-width: 100%;

    .application-logo {
      height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: scale-down;
    }
  }
}

.header-title {
  padding: 0 $spacing-md;
  h1 {
    font-size: 1rem;
    margin: auto;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include responsive(tablet) {
      font-size: 1.125rem;
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}