@use '../abstracts/all' as *;

.icon-dice {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  
  svg {
    width: 100%;
    height: 100%;
    polygon {
      stroke-width: 4%;
    }
  }
  
  // Colores monocolores
  &--red {
    .icon-dice__face, .icon-dice__face1, .icon-dice__face2 {
      fill: var(--color-game-red);
    }
  }
  
  &--green {
    .icon-dice__face, .icon-dice__face1, .icon-dice__face2 {
      fill: var(--color-game-green);
    }
  }
  
  &--blue {
    .icon-dice__face, .icon-dice__face1, .icon-dice__face2 {
      fill: var(--color-game-blue);
    }
  }
  
  // Colores bicolores
  &--red-green {
    .icon-dice__face1 {
      fill: var(--color-game-red);
    }
    .icon-dice__face2 {
      fill: var(--color-game-green);
    }
  }
  
  &--red-blue {
    .icon-dice__face1 {
      fill: var(--color-game-red);
    }
    .icon-dice__face2 {
      fill: var(--color-game-blue);
    }
  }
  
  &--green-blue {
    .icon-dice__face1 {
      fill: var(--color-game-green);
    }
    .icon-dice__face2 {
      fill: var(--color-game-blue);
    }
  }
  
  // Tricolor
  &--red-green-blue {
    .icon-dice__face:nth-of-type(1) {
      fill: var(--color-game-red);
    }
    .icon-dice__face:nth-of-type(2) {
      fill: var(--color-game-green);
    }
    .icon-dice__face--top {
      fill: var(--color-game-blue);
    }
  }
}