@use '../abstracts/all' as *;

.info-item {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: $spacing-xs;
  align-items: center;
  font-size: 0.8rem;
  
  svg {
    stroke: $color-accent-purple;
  }
  
  &__label {
    color: $color-text-muted;
  }
}