@use '../abstracts/all' as *;

.language-selector {
  display: flex;
  gap: $spacing-xs;
  
  .language-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: 600;
    min-width: 2rem;
    transition: all $transition-fast;
    
    &:hover {
      border-color: var(--color-text-primary);
      color: var(--color-text-primary);
    }
    
    &.is-active {
      color: var(--random-accent-color);
      
      &:hover {
        color: var(--random-accent-color-hover);
      }
    }
  }
}