@use '../abstracts/all' as *;

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .1;
  filter: grayscale(60%);
  background-position: center;
  
  transition: opacity $transition-medium ease;
  [data-theme="dark"] & {
    opacity: .1;
  }
  
  [data-theme="light"] & {
    opacity: .25;
  }


  // Filtro común: casi blanco y negro (apenas un toque de color)
  // filter: saturate(0.2);
  // transition: filter $transition-medium ease;
  
  // Tema oscuro: mucho más oscura
  // [data-theme="dark"] & {
  //   filter: saturate(0.3) brightness(0.5) contrast(1.3);
  //   opacity: 0.85;
  // }
  
  // // Tema claro: mucho más clara
  // [data-theme="light"] & {
  //   filter: saturate(0.3) brightness(1.4) contrast(0.8);
  //   opacity: 0.75;
  // }
}