@use '../abstracts/all' as *;

body {
  font-family: 'roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--color-link);
  
  &:hover {
    color: var(--color-link-hover);
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}