@use "sass:color";
@use '../abstracts/all' as *;

// Global Base Styles

// Heading Styles
h1, h2, h3 {
  @include font-secondary-bold;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

// Responsive Typography
body {
  font-size: 16px;
  line-height: $base-line-height;
}

@media (max-width: $breakpoint-mobile) {
  body {
    font-size: 14px;
  }
}