// Color Palette for Alanda: Choque de Leyendas

// Primary Game Colors
$color-red:     #f53d3d;
$color-green:   #3df53d;
$color-blue:    #3d3df5;
$color-yellow: #f5f53d;

// Dark Background Colors
$color-bg-dark-primary:   #1A1A1A;
$color-bg-dark-secondary: #262626;
$color-bg-dark-tertiary:  #333333;

// Text Colors
$color-text-light:    #dddddd;
$color-text-muted:    #929292;
$color-text-dark:     #272727;

// Accent Colors
// $color-accent-orange: #ff9800;
// $color-accent-purple: #9575cd;

$color-accent-yellow: #FFD976;
$color-accent-pink: #F67280;
$color-accent-orange: #FF9D71;
$color-accent-purple: #6C5B7B;
$color-accent-blue: #35495E;


// Semantic Colors
$color-success:       #4CAF50;
$color-warning:       #FFC107;
$color-danger:        #F44336;
$color-info:          #2196F3;