/*
* ALMENDRA *
*/
@font-face {
  font-family: 'almendra';
  src: url('/public/fonts/almendra/almendra-bold-webfont.woff2') format('woff2'),
       url('/public/fonts/almendra/almendra-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'almendra';
  src: url('/public/fonts/almendra/almendra-bolditalic-webfont.woff2') format('woff2'),
       url('/public/fonts/almendra/almendra-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'almendra';
  src: url('/public/fonts/almendra/almendra-italic-webfont.woff2') format('woff2'),
       url('/public/fonts/almendra/almendra-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'almendra';
  src: url('/public/fonts/almendra/almendra-regular-webfont.woff2') format('woff2'),
       url('/public/fonts/almendra/almendra-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*
* ROBOTO *
*/
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
/********************************/

@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('/public/fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
       url('/public/fonts/roboto/roboto-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}