@use '../../abstracts/all' as *;

.form-field {
  margin-bottom: $spacing-md;
  width: 100%;
  
  .form-input {
    display: block;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    border: 0.0625rem solid var(--color-card-border);
    border-radius: $border-radius-sm;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: border-color $transition-fast, box-shadow $transition-fast;
    font-size: 1rem;
    
    &:focus {
      outline: none;
      border-color: var(--random-accent-color);
      box-shadow: 0 0 0 0.125rem var(--random-accent-color-bg);
    }
    
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

/* Estilo para los inputs con autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Cambia el color de fondo y el color del texto */
  -webkit-box-shadow: 0 0 0 30px var(--color-background) inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  /* La transición con delay largo ayuda a mantener nuestros estilos */
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox y otros navegadores */
@-moz-document url-prefix() {
  input.form-input {
    &:focus {
      background-color: var(--color-background);
      color: var(--color-text-primary);
    }
  }
}